body {
    height: 100%;
    background-color: $background;
}

* {
    table {
        border-collapse: unset;
    }
}

.shell {
    max-width: 95%;
    margin: auto;
}

.shell__dashboard {
    width: 100%;
    max-width: 85.72%;
    margin: 0 auto;
}