$primary: #0D1B3A;
$rose: #FF616A;
$lilas: #7F56D9;
$lilas-light: #6941C6;
$lilas-dark:#9241F8;
$white:#FFFFFF;
$blue: #377DFF;
$green: #00CA73;

$text:#344054;
$text-light: #667085;
$text-dark:#101828;

$background:#F9FAFB;
$background-light: #E8EFF5;
$border: #F2F6FA;
$barra: #EAECF0;